/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  @import "material";
  @import "material_icons";
 	@import 'parsley';
 	@import "font-awesome";
 	@import 'businesses';
 	@import 'events';
 	@import 'user_events';
 	@import 'users';

 	.signincontainerstyling {
 		color: white;
		margin: -150px 25px;
		max-width: 540px;
		position: relative;
		border-radius: 7px;
		background: #bc4e9c;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

html body {
	background: #424242;
}

label.whiteletters {
	color: white;
}

input.whitestuff {
	color: white;
	border-color: white !important; 
}