// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-wrapper {
	color: white;
}

.event-show-background {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -5;
	background: white;
}

.event-page-image {
	width: 100%;
}

@media all and (min-width: 1099px){
	.event-wrapper{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #424242 solid 1px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 0px 16px 0px #000;
    background: #424242;
	}

	.event-show-backdrop {
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: -5;
		background: #e96443;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
}

@media all and (min-width: 580px){
	.info-row{
	  margin: 50px 0px;
	}

	.col-border{
		border-right: 1px #b3b3b3 solid
	}
}

@media all and (max-width: 579px){
	.info-row{
	  margin: 25px 0px;
	}
	.col-border{
		border-bottom: 1px #b3b3b3 solid
	}
	.col-12{
		padding-left: 0px;
		padding-right: 20px;
		margin: 0px 20px;
	}
}

.info{
	margin: 10px;

}
.cardimagesize {
	height: 230px;
}

.cardstyling {
	margin: 10px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.eventbackground {
	height: 450px;
	width: 100%;
}

.signupcontainerstyling {
	margin: -180px auto 25px;
	position: relative;
	border-radius: 7px;
	background-color: white;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.eventcontainerstyling {
	margin: -180px auto 25px;
	position: relative;
	border-radius: 7px;
	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.pillcontainerstyling {
    height: 94px;
    width: 171px;
    top: -169px;
    margin: -186px 102px;
    position: relative;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.themecolor {
	color: #ff4081;
}

.going-wrapper{
	text-align: right;
  position: relative;
  top: -33px;
  margin-left: 30px;
}

.sign-up-nav {
  width: 550px;
  text-align: center;
}

#user-tab {
	border-right: 1px #e0e0e0 solid;
}

.business-controls {
	position: fixed;
  bottom: 0px;
  right: 0px;
  background: #ffffff;
  border: 1px #e0e0e0 solid;
  border-radius: 2px;
  text-align: center;
  line-height: 45px;
  height: 50px;
  width: 150px;
}