// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
	display: inline-block;
}

.area {
	display: inline-block;
	float: right;
}

.editcontainerstyling {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	border-radius: 7px;
	background-color: white;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.editpadding {
	padding-top: 20px;
	padding-bottom: 20px;
}